<div class="body-index">
    <header>
         <h1 class="h1-index">Welcome</h1>
    </header>

    <form action="" class="inicio-de-sesion">
        <label for="" class="label-usuario">Usuario:</label><br>
        <input type="text" class="input-usuario"><br>
        <br>
        <label for="" class="label-password">Contraseña:</label><br>
        <input type="password" class="input-password"><br>
        <br>
        <button class="btn-acceder" id="btn-acceder"><a href="/inicio" class="link-index">Acceder</a></button>            
        </form>
</div> 

