<div class="body-index">
    <header>
         <h1 class="h1-index">{{title}}</h1>
    </header>

    <form action="/back/user/index-user" class="inicio-de-sesion" method="post">
        <label for="" class="label-usuario">Usuario:</label><br>
        <input type="text" class="input-usuario" name="name"><br>
        <br>
        <label for="" class="label-password">Contraseña:</label><br>
        <input type="password" class="input-password" name="password"><br>
        <br>
        <button class="btn-acceder" id="btn-acceder" type="submit">Acceder</button>            
        </form>
</div> 

