<section>
    <form action="/back/user/create" method="post">
        <input type="text" name="name">

        <input type="password" name="password">
        <button type="submit">Guardar</button>
    </form>
</section>